<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<%= require('../../components/A/index.ejs')() %>
C
<img src="<%= require('./images/轮胎的二维码.png') %>" alt="">
</body>
</html>
