@import "./lib/bootstrap.min.css";

.root {
  display: flex;
  height: 100vh;
  &-group {
    height: 100%;
    width: 50%;
    flex-shrink: 0;
    overflow: scroll;
    padding: 40px;
  }
}

.component {
  &-group {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &-title {
      margin-bottom: 15px;
    }
    &-body {
      padding: 15px;
      border: 1px solid rgba(#000, 0.15);
      border-radius: 4px;
      max-width: 100%;
      overflow: auto;
    }
  }
}
